body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#dad8d8;
    font-size: 10px;
}
.nav {
    height: 3rem;
    width: 100%;
    background-color: #562EFF;

}
.container {
    width: 65rem;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 1.2rem;
    border-radius: .9rem;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    padding: 3rem;
}
.player img {
    width: 5.6rem;
    height: 5.6rem;
}
.player {
    display: flex;
    align-items: center;
}
.player h5 {
    margin-left: 1.6rem;
    font-weight: 500;
    font-size: 1.6rem;
    
}
.first h2 {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: -4rem;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    color: #562EFF;
    
}

hr {
    width: 90%;
}


/* Second Section Start  */
.container h2 {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: -4rem;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    color: #562EFF;
}
.second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    row-gap: 3rem;

}
.course img {
    width: 177px;
    height: 130px;
}
.course {
    display: flex;
    align-items: center;
}
.course h4 {
    margin-top: -.8rem;
    font-weight: 500;
    font-size: 1.6rem;
}
.course-details {
    margin-left: 1.6rem;
}
.course-details h4 {
    font-weight: 500;
    font-size: 20px;
}
.course-details p {
    font-weight: 400;
    font-size: 16px;
    color: #9F9F9F;
}
.course-details a {
    text-decoration: none;
}

/* second section finished
 */

 .latest {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 3rem;
 }
.lat-rating {
    display: flex;
    justify-content: space-between;
   
}
.lat {
    padding: 18px;
    border: 1px solid #A2A2A2;
    border-radius: 15px;
}
 .lat img {
    width: 90%;
    
 }
 .fa-star.color {
    color: gold;
    font-size: 12px;
 }
 .fa-star.empty {
    color: grey;
    font-size: 12px;
 }
 .lat-details h3{
    font-weight: 500;
    font-size: 20.0336px;
    line-height: 23px;
    color: #1E1E1E;
 }
 .rate {
    font-weight: 400;
    font-size: 14.6913px;
    color: #7e7777;
 }
 .lat-details a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14.6913px;
    color: #ED6B4F;
 }
 .fa-clock {
    font-size: 18px;
    color: rgb(201, 18, 18);
    margin-right: 10px;
    text-align: center;
 }
 .time {
    font-weight: 600;
    font-size: 14.6913px;
    color: #a81223;
    background-color: #e67582;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
 }

 


 @media screen and (max-width:576px){
    .players {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    .container {
        width: 100%;
    }
    .second {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            
        }
    .course {
            display: flex;
            flex-direction: column;
        }
    .course img {
            width: 100%;
            height: 12rem;
            
        }
    .container h4 {
        margin-top: 1.2rem;
    }
    .latest {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            padding: 3rem;
        }
    
 }
 @media screen and (min-width:577px) and (max-width:768px) {

    .players {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    
        .container {
            width: 100%;
        }
    
        .second {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
    
        }
    
        .course {
            display: flex;
            flex-direction: column;
        }
    
        .course img {
            width: 90%;
            height: 10rem;
    
        }
    
        .container h4 {
            margin-top: 1.2rem;
        }
    
        .latest {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding: 3rem;
        }
 }
 @media screen and (min-width:769px) and (max-width:992px) {

    .players {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .container {
            width: 100%;
        }
    
        .second {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
    
        }
    
        .course {
            display: flex;
            flex-direction: column;
        }
    
        .course img {
            width: 90%;
            height: 12rem;
    
        }
    
        .container h4 {
            margin-top: 1.2rem;
        }
    
        .latest {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding: 3rem;
        }
 }